<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="true"
    bootstrap="./vendor/autoload.php"
>
    <testsuites>
        <testsuite name="BasicShopifyAPI Test Suite">
            <directory>./test/</directory>
            <exclude>./test/BaseTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
